*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Shelter';
    src: url('../fonts/shelter.ttf') format('ttf'),
         url('../fonts/shelter.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html {
    font-size: 16px;
    font-family: 'Shelter', sans-serif;
    background: url('../img/bkg_degrade.jpg') repeat-x;
}

h1 {
    font-size: 5rem;
    color: pink;
}

h2 {
    color: yellow;
}

.hello {
    color: orangered;
}