@use './abstract' as *;

html {
    font-size: $fs;
    font-family: $ff;
    color: $clr-tertiary;
    background: url('../img/bkg_degrade.jpg') repeat-x;
}

h1 {
    color: $clr-primary;
}

h2 {
    color: $clr-secondary;
}