@use './abstract' as *;
@use './base';

html {
    font-size: $fs;
    font-family: $ff;
    color: $clr-tertiary;
    background: url('../img/bkg_degrade.jpg') repeat-x;
}

body {
    text-align: center;
}

h1 {
    font-size: 5rem;
    color: $clr-primary;
    font-family: $ff-title;
}

h2 {
    color: $clr-secondary;
}